.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}


/* Flexbox 1 */
.flexOne{
    display: flex;

}

.flexOne > .square{
    margin: 5px;
}

/* Flexbox 2 */
.flexTwo{
    display: flex;
    flex-direction: column;
}

.flexTwo  > .square{
    margin: 2px;
}

/* Flexbox 3 */

.flexThree{
    display: flex;
    flex-direction: row-reverse;
}

.flexThree  > .square{
    margin: 2px;
}

/* Flexbox 4 */

.flexFour{
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

.flexFour > .square{
    margin: 5px;
    background-color: #3d8b6d;
}

/*  Flexbox 5 */

.flexFive{
    width: 350px;
    display: flex;
}

.flexFive > .item{
    background-color: #0b6643;
    width: 100px;
    height: 100px;
    margin: 2px;
}

#grow{
    flex-grow: 2;
}

/* Flexbox 6 */
.flexSix{
    display: flex;
    height: 400px;
    width: 500px;
    background-color: #f1f1f1;
    flex-direction: column;
    justify-content: space-between;
}

.flexSix > .one{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexSix > .two{
    display: flex;
    justify-content: space-between;
    background-color: #d6d6d6;
    align-items: center;

}

.flexSix > .three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Flexbox 7 */
.flexSeven{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.flexSeven > .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexSeven > .two{    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.flexSeven > .three{    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexSeven > .four{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Flexbox 8 */

.flexEight{
    display: flex;
}
.flexEight{
    display: width 400px;
    background-color: #eeeeee;
    height: 300px;
}

.flexEight > .one{
    display: flex;
    align-items: center;
}

.flexEight > .two{
    display: flex;
    align-items: flex-end;
}

.flexEight > .three{
    display: flex;
    align-items: flex-start;
}

/* Flexbox 9 */
.flexNine{
    display: flex;
    width: 450px;
    height: 250px;
    align-items: flex-start;
    background-color: #eeeeee;
}

.flexNine > .square {margin: 2px;}

.flexNine > #special{
    align-self: flex-end;
}